.wrapper {
  width: 156px;
  height: 88px;
  border: 1px solid var(--color-beige);
  border-radius: 8px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

.active {
  border: 2px solid var(--color-green);
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-blue-dark);
  margin-bottom: 4px;
}

.description {
  font-size: 12px;
  color: var(--color-grey-dark);
}
