.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--color-white);
  border: 1px solid var(--color-beige);
}

@media (max-width: 400px) {
  .container {
    max-width: 400px;
    border: none;
  }
}

.header {
  border-bottom: 1px solid var(--color-beige);
  padding: 0 100px;
}

.logo {
  margin: 22px 0;
}

.controls {
  display: flex;
  border-bottom: 1px solid var(--color-beige);
  padding: 0 100px;
}

@media (max-width: 400px) {
  .controls {
    flex-direction: column;
    padding: 20px 16px;
  }
}

.results {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  padding: 26px 100px;
}

@media (max-width: 400px) {
  .results {
    padding: 26px 16px;
    flex-direction: column;
    align-items: center;
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: 26px 0;
}

.button {
  padding: 14px 36px;
  background-color: var(--color-green);
  color: var(--color-white);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.slider {
  width: 300px;
  border-right: 1px solid var(--color-beige);
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media (max-width: 400px) {
  .slider {
    border-right: none;
    width: 368px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid var(--color-beige);
  }
}

.priceRange {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.priceLimit {
  display: flex;
  justify-content: space-between;
  width: 136px;
  border: 1px solid var(--color-beige);
  border-radius: 8px;
  padding: 12px 14px;
}

.priceLimitAmount {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-blue-dark);
}

.currency {
  font-size: 16px;
  color: var(--color-grey-dark);
}

.priceLabel {
  font-size: 16px;
  color: var(--color-grey-dark);
}

.type {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  border-right: 1px solid var(--color-beige);
}

@media (max-width: 400px) {
  .type {
    border-right: none;
    padding: 12px 0;
    border-bottom: 1px solid var(--color-beige);
  }
}

.typeHeading {
  margin-bottom: 16px;
  font-size: 16px;
  color: var(--color-grey-dark);
}

.caravanChoice {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 400px) {
  .caravanChoice {
  }
}

.instantBookable {
  padding-top: 12px;
  padding-left: 16px;
}

@media (max-width: 400px) {
  .instantBookable {
    padding-left: 0;
  }
}

.instantHeading {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.headingText {
  font-size: 16px;
  color: var(--color-grey-dark);
  margin-right: 8px;
}

.instantToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 162px;
  padding: 12px;
  border: 1px solid var(--color-beige);
  border-radius: 8px;
}

.instantValue {
  font-size: 16px;
  color: var(--color-blue-dark);
}
