:root {
  --color-white: #ffffff;
  --color-beige: #edeae3;
  --color-grey-dark: #9c8c8c;
  --color-blue-dark: #1f2244;
  --color-orange: #ff5e55;
  --color-green: #119383;
  --bp: 400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
